.check {
  color: #2fd155;
}
/* _com = complementary color */
/* OVERALL CONTAINER */
.dashboard_area {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  /* INDEX INBOX */
  /* Styles only for dashboard.index */
  /* Styles only for dashboard.inbox */
  /* Stlyes only for SIDE NAVBAR ACCOUNT and PROFILE */
  /* ACCOUNT */
  /* PROFILE */
  /* VERIFY */
  /* left side action container */
}
.dashboard_area #dashboard_area_nav .navbar_container {
  max-width: 980px !important;
}
.dashboard_area #dashboard_area_nav .active_topbar {
  color: #1d5e84 !important;
}
.dashboard_area #index,
.dashboard_area #inbox {
  background-color: #f0f0f0;
  max-width: 980px;
}
.dashboard_area #index #profile_container {
  background-color: white;
  max-width: 202px;
  text-align: center;
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}
.dashboard_area #index .avatar {
  width: 100%;
}
.dashboard_area #index #overlay {
  width: 200px;
  height: 200px;
  margin-top: 0px;
  position: absolute;
  background-color: #1d5e84;
  display: none;
  opacity: 0.9;
  padding-top: 50px;
  z-index: 10000;
}
.dashboard_area #index #overlay p {
  color: white;
}
.dashboard_area #index #overlay i {
  color: white;
}
.dashboard_area #index .camera_icon {
  font-size: 70px;
}
.dashboard_area #index #profile_container:hover #overlay {
  display: block;
}
.dashboard_area #index .verification_button {
  margin-top: -6px;
}
.dashboard_area #index .check_container {
  float: left;
  padding-top: 6px;
}
.dashboard_area #index .check_container i {
  color: #2fd155;
  font-size: 23px;
}
.dashboard_area #index .text_container {
  float: left;
  margin-left: 12px;
}
.dashboard_area #account_sidebar .right_navbar_container,
.dashboard_area #profile_sidebar .right_navbar_container {
  padding: 20px;
}
.dashboard_area #account_sidebar .nav_text,
.dashboard_area #profile_sidebar .nav_text {
  color: #797979;
  /* ...and now for the proper property */
  transition: .5s;
}
.dashboard_area #account_sidebar .nav_text:hover,
.dashboard_area #profile_sidebar .nav_text:hover {
  color: #404040;
}
.dashboard_area #account_sidebar .side_navbar_active,
.dashboard_area #profile_sidebar .side_navbar_active {
  color: #1d5e84 !important;
}
.dashboard_area #account_sidebar .active,
.dashboard_area #profile_sidebar .active {
  color: #1d5e84 !important;
}
.dashboard_area #notifications,
.dashboard_area #payment,
.dashboard_area #payout,
.dashboard_area #security,
.dashboard_area #privacy,
.dashboard_area #security,
.dashboard_area #settings,
.dashboard_area #start {
  background-color: #f0f0f0;
  max-width: 980px;
}
.dashboard_area #notifications .notifications {
  max-width: 980px;
}
.dashboard_area #notifications .mail_icon {
  margin-left: 6px;
}
.dashboard_area #notifications .large_icon {
  font-size: 55px;
}
.dashboard_area #notifications .right_container {
  margin-left: 17px;
  display: inline-block;
}
.dashboard_area #notifications .button_container {
  text-align: center;
}
.dashboard_area #payment .middle_container,
.dashboard_area #payout .middle_container,
.dashboard_area #security .middle_container {
  text-align: right;
  margin-top: 10px;
}
.dashboard_area #payment .very_small,
.dashboard_area #payout .very_small,
.dashboard_area #security .very_small {
  font-size: 15px;
  margin-bottom: 21px;
}
.dashboard_area #payment .note_icon {
  margin-top: 24px;
  margin-left: 10px;
}
.dashboard_area #payout .cash_icon {
  font-size: 40px;
}
.dashboard_area #privacy .save_button {
  margin-top: 10px;
}
.dashboard_area #security .lock_icon {
  margin-top: 24px;
  margin-left: 10px;
  font-size: 80px;
}
.dashboard_area #security .security_input_container input {
  margin-top: 2px;
}
.dashboard_area #edit,
.dashboard_area #photo,
.dashboard_area #ratings,
.dashboard_area #verifications {
  background-color: #f0f0f0;
  max-width: 980px;
}
.dashboard_area #edit .input_label {
  margin-top: 3px;
  margin-left: 3px;
}
.dashboard_area #edit .very_small {
  font-size: 15px;
  margin: 4px;
}
.dashboard_area #edit .control_style {
  margin-top: -8px;
  margin-bottom: 7px;
}
.dashboard_area #photo .width_fifthy {
  width: 50%;
  text-align: center;
}
.dashboard_area #photo #text_left {
  float: left;
  position: relative;
  width: 306px;
}
.dashboard_area #photo #image_right {
  float: left;
  position: relative;
}
.dashboard_area #ratings .infobox_content {
  border-top: 1px solid #ababab;
}
.dashboard_area #ratings .ratings {
  max-width: 980px !important;
}
.dashboard_area #ratings .yellow {
  color: #fff000;
}
.dashboard_area #ratings .ratings_user_image {
  margin: 20px;
  height: 60px;
}
.dashboard_area #ratings .star_container {
  padding-top: 30px;
}
.dashboard_area #ratings .button_container {
  padding-top: 20px;
}
.dashboard_area #ratings .star_icon_large {
  font-size: 30px;
}
.dashboard_area #verifications .right_container_verifications {
  margin-left: 16px;
}
.dashboard_area #verifications .not_verified_id_icon {
  font-size: 48px;
  margin-left: 1px;
}
.dashboard_area #verifications .fa-check-circle-o {
  color: #2fd155;
}
.dashboard_area #start,
.dashboard_area #thank_you {
  /*.nav_text:hover{
        color: #404040;
      }*/
}
.dashboard_area #start .rose,
.dashboard_area #thank_you .rose {
  color: #ea555c;
}
.dashboard_area #start #right_navbar_container,
.dashboard_area #thank_you #right_navbar_container {
  padding: 20px;
}
.dashboard_area #start .nav_text,
.dashboard_area #thank_you .nav_text {
  color: #797979;
  /* ...and now for the proper property */
  transition: .5s;
}
.dashboard_area #start .active,
.dashboard_area #thank_you .active {
  color: #ea555c !important;
}
.dashboard_area #start .image,
.dashboard_area #thank_you .image {
  width: 235px;
}
.dashboard_area #start .profile,
.dashboard_area #thank_you .profile {
  max-width: 980px !important;
}
.dashboard_area #start .cropper img,
.dashboard_area #thank_you .cropper img {
  width: 100%;
}
.dashboard_area #start #image_container,
.dashboard_area #thank_you #image_container {
  display: none;
}
.dashboard_area #action_container {
  max-width: 200px;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.dashboard_area .help_icon {
  margin-bottom: 10px;
}
.dashboard_area .dark_grey {
  color: #2e2e2e;
}
.dashboard_area .question {
  font-size: 20px;
}

/*# sourceMappingURL=dashboard_area.css.map */