.check {
  color: #2fd155;
}
/* _com = complementary color */
.col-md-6,
.col-md-12 {
  padding: 0px;
}
/* BLUE */
.bluebox {
  width: 100%;
  background-color: white;
  border: 1px solid #00B3FF;
  margin-bottom: 20px;
}
.bluebox .header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #00B3FF;
  border-bottom: 1px solid #00B3FF;
  vertical-align: center;
}
.bluebox .content {
  padding: 15px;
}
/* BLUE */
.orangebox {
  width: 100%;
  background-color: white;
  border: 1px solid #ffc000;
  margin-bottom: 20px;
}
.orangebox .header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #ffc000;
  border-bottom: 1px solid #ffc000;
  vertical-align: center;
}
.orangebox .header p {
  color: white;
  margin-top: 2px;
}
.orangebox .header i {
  font-size: 30px;
}
.orangebox .content {
  padding: 15px;
}
.orangebox p {
  color: #585858;
}
/* SUCCESS */
.successbox {
  width: 100%;
  background-color: white;
  border: 1px solid #52b856;
  margin-bottom: 20px;
}
.successbox .header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #52b856;
  border-bottom: 1px solid #52b856;
  vertical-align: center;
}
.successbox .header p {
  color: white;
  margin-top: 2px;
}
.successbox .header i {
  font-size: 30px;
}
.successbox .content {
  padding: 15px;
}
.successbox .content .info_text {
  color: #585858;
}
.successbox .content p {
  color: #585858;
}
/* INFO */
.infobox {
  width: 100%;
  background-color: white;
  border: 1px solid #ababab;
  margin-bottom: 20px;
}
.infobox .header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #ababab;
  vertical-align: center;
}
.infobox .header p {
  color: #828282;
}
.infobox .content {
  padding: 15px;
}
.infobox .content p {
  color: #1d5e84;
}
.infobox .content .info_text {
  color: #585858;
}
/* INFO IMAGE */
.infobox_image {
  background-color: white;
  border: 1px solid #ababab;
  margin-top: 20px;
  height: 302px;
  margin-bottom: 20px;
}
.infobox_image .header {
  position: top;
  height: 60px;
  padding: 15px;
  width: 325px;
  background-color: #e8e8e8;
  /*border-bottom: 1px solid #ababab;*/
}
.infobox_image .header p {
  color: #828282;
}
.infobox_image .content {
  padding: 15px;
}
.infobox_image .content p {
  color: #1d5e84;
}
.infobox_image .content .info_text {
  color: #585858;
}
.infobox_image .container {
  width: 300px;
  background-color: grey;
  height: 300px;
  background-size: cover;
}
/* WARNING */
.warningbox {
  width: 100%;
  background-color: white;
  border: 1px solid #1d5e84;
  margin-bottom: 20px;
}
.warningbox .header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #1d5e84;
  border-bottom: 1px solid #1d5e84;
  vertical-align: center;
}
.warningbox .header p {
  color: white;
  margin-top: 2px;
}
.warningbox .header i {
  font-size: 30px;
}
.warningbox .content {
  padding: 15px;
}
.warningbox p {
  color: #585858;
}
/* ACTION */
.actionbox {
  max-width: 200px;
  background-color: #90bf34;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.actionbox i {
  font-size: 40px;
  color: white;
}
.actionbox h4 {
  color: white;
}
.actionbox p {
  color: white;
}
/* ACTIONBOX TALL */
.tall_actionbox {
  max-width: 200px;
  background-color: #1d5e84;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.tall_actionbox i {
  font-size: 40px;
  color: white;
}
.tall_actionbox h4 {
  color: white;
}
.tall_actionbox p {
  color: white;
}
/* USER INFOBOX*/
.user_infobox {
  background-color: white;
  max-width: 202px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}
/* first image container */
.infobox_large_image {
  background-color: white;
  border: 1px solid #ababab;
  margin-top: 20px;
  margin-bottom: 20px;
}
.infobox_large_image .left .header {
  position: top;
  height: 60px;
  padding: 15px;
  background-color: #e8e8e8;
  /*border-bottom: 1px solid #ababab;*/
}
.infobox_large_image .left .header p {
  color: #828282;
}
.infobox_large_image .left .content {
  padding: 15px;
}
.infobox_large_image .left .content .info_text {
  color: #585858;
}
.infobox_large_image .left .content p {
  color: #1d5e84;
}
.infobox_large_image .right .content .image_container {
  width: 473px;
  background-color: red;
  height: 300px;
  background-size: cover;
}
@media (max-width: 767px) {
  .row {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=patstrap.css.map */