.bluebox .box_icon_large,
.orangebox .box_icon_large,
.successbox .box_icon_large,
.infobox .box_icon_large,
.warningbox .box_icon_large {
  font-size: 30px;
}
.bluebox .box_heading_container,
.orangebox .box_heading_container,
.successbox .box_heading_container,
.infobox .box_heading_container,
.warningbox .box_heading_container {
  margin-top: 2px;
}
/* BLUE */
.bluebox {
  width: 100%;
  background-color: white;
  border: 1px solid #00B3FF;
  margin-bottom: 20px;
}
.bluebox .bluebox_header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #00B3FF;
  border-bottom: 1px solid #00B3FF;
  vertical-align: center;
}
.bluebox .bluebox_content {
  padding: 15px;
}
/* BLUE */
.orangebox {
  width: 100%;
  background-color: white;
  border: 1px solid #ffc000;
  margin-bottom: 20px;
}
.orangebox .orangebox_header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #ffc000;
  border-bottom: 1px solid #ffc000;
  vertical-align: center;
}
.orangebox .orangebox_content {
  padding: 15px;
}
/* SUCCESS */
.successbox {
  width: 100%;
  background-color: white;
  border: 1px solid #52b856;
  margin-bottom: 20px;
}
.successbox .successbox_header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #52b856;
  border-bottom: 1px solid #52b856;
  vertical-align: center;
}
.successbox .successbox_content {
  padding: 15px;
}
/* INFO */
.infobox {
  width: 100%;
  background-color: white;
  border: 1px solid #ababab;
  margin-bottom: 20px;
}
.infobox .header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #ababab;
  vertical-align: center;
}
.infobox .header p {
  color: #828282;
}
.infobox .content {
  padding: 15px;
}
.infobox .content p {
  color: #ea555c;
}
.infobox .content .info_text {
  color: #2e2e2e;
}
/* WARNING */
.warningbox {
  width: 100%;
  background-color: white;
  border: 1px solid red;
  margin-bottom: 20px;
}
.warningbox .warningbox_header {
  width: 100%;
  position: top;
  height: 60px;
  padding: 15px;
  color: white;
  background-color: #ea555c;
  border-bottom: 1px solid #ea555c;
  vertical-align: center;
}
.warningbox .warningbox_content {
  padding: 15px;
}
/* ACTION */
.actionbox {
  max-width: 200px;
  background-color: #ab4848;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ab4848;
}
.actionbox i {
  margin-bottom: 10px;
  font-size: 40px;
}
/* ACTIONBOX TALL */
.tall_actionbox {
  max-width: 200px;
  background-color: #ffa200;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.tall_actionbox i {
  font-size: 40px;
}
/* USER INFOBOX*/
.user_infobox {
  background-color: white;
  max-width: 202px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}

/*# sourceMappingURL=patstrap.css.map */