/* style used in dashboard area */

.background_dashboard_area{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
.dashboard_area_container{
  max-width: 980px !important;
}
/* left side action container */

#action_container{
  max-width: 200px;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.help_icon{
  margin-bottom: 10px;
}
.dark_grey{
  color: #2e2e2e;
}
.question{
  font-size: 20px;
}



/* INDEX */
#profile_image_dashboard_container{
  background-color: white;
  max-width: 202px;
  text-align: center;
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}
    #profile_image_dashboard_container:hover #overlay{
      display: block;
    }
    .avatar {
    width: 100%;
    }
    #overlay{
      width: 200px;
      height: 200px;
      margin-top: 0px;
      position: absolute;
      background-color: #ea555c;
      opacity: 0.9;
      display: none;
      padding-top: 50px;
    }
    .camera_icon{
      font-size: 70px;
    }

#profile_info_dashboard_container{
  background-color: white;
  max-width: 202px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}


#left_news_container{
  max-width: 200px;
  background-color: #ffc000;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.btn-white{
  color: white;
  border-color: white;
}
.verification_button{
  margin-top: -6px;
}
.check_container{
  float: left;
  padding-top: 6px;
}
.text_container{
  float: left;
  margin-left: 12px;
}


/* INBOX */
#left_news_container{
  max-width: 200px;
  background-color: #ffa200;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ababab;
}
.btn-white{
  color: white;
  border-color: white;
}


    /* SIDE NAVBAR ACCOUNT and PROFILE EDIT */


    #right_navbar_container{
      padding: 20px;
    }
    .nav_text{
      color: #797979;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      /* ...and now for the proper property */
      transition:.5s;
    }
    .nav_text:hover{
      color: #404040;
    }
    .side_navbar_active{
      color: #ea555c !important;
    }


    /* ACCOUNT */ 

    .notifications{
      max-width: 980px !important;
    }
    .mail_icon{
      margin-left: 6px;
    }
    .large_icon{
      font-size: 55px;
    }
    .right_container{
      margin-left: 17px;
      display: inline-block;
    }
    .button_container {
      text-align: center;
    }
    .button_wrapper{

    }

    /* PAYMENT */  /* PAYOUT */  /* SECURITY */

    .middle_container{
      text-align: right;
      margin-top: 10px;
    }
    .very_small{
      font-size: 15px;
      margin-bottom: 21px;
    }
    .note_icon{
      margin-top: 24px;
      margin-left: 10px;
    }

    /* PRIVACY */

    .save_button{
        margin-top: 10px;
    }

    /* SECURITY */

    .lock_icon{
      margin-top: 24px;
      margin-left: 10px;
    }
    .security_input_container input{
      margin-top: 2px;
    }

