@import "../wundership.less";

@background: #f0f0f0;

.product_area{
  width: 100%;
  height: 100%;
  background-color:@background;

    #overview, #shipment_create, #shipments, #shipments_origin_create, #shipments_destination_create{
      background-color: @background;
      max-width: 980px;
    }
    #overview{
      .top_down{
      margin-top: 30px;
      position: relative;
      }

      /* head area */

      #head_text_wrapper{
        width: 100%;
        text-align: center;
      }
      #pickup_container{
        height: 200px;
        background-color: @base;
        padding: 20px;
        margin-top: 30px;
        i{
          color: @base_com;
          font-size: 100px;
          margin-top: 30px;
          margin-left: 20px;
        }
      }
      .icon_wrapper{
        float: left;
      }
      .text_wrapper{
        float: left;
        p{
          font-size: 40px;
          margin-top: 45px;
          color: @base_com;
        }
      }
      #send_container{
        height: 200px;
        background-color: @first;
        padding: 20px;
        margin-top: 30px;
        i{
          color: @first_com;
          font-size: 100px;
          margin-top: 30px;
          margin-left: 20px;
        }
      }
      @-webkit-keyframes wiggle {
        0% {-webkit-transform:rotate(4deg);}
        50% {-webkit-transform:rotate(-4deg);}
        100% {-webkit-transform:rotate(4deg);}
      }
      /* firefox */
      @-moz-keyframes wiggle {
        0% {-moz-transform:rotate(4deg);}
        50% {-moz-transform:rotate(-4deg);}
        100% {-moz-transform:rotate(4deg);}
      }
      /* anyone brave enough to implement the ideal method */
      @keyframes wiggle {
        0% {transform:rotate(4deg);}
        50% {transform:rotate(-4deg);}
        100% {transform:rotate(4deg);}
      } 
      .wiggle {
        -webkit-animation: wiggle 0.5s infinite;
        -moz-animation: wiggle 0.5s infinite;
        animation: wiggle 0.5s infinite;
      }

    }

    #shipment_create{
      padding-top: 30px;
      padding-bottom: 30px;
      min-height: 700px !important;
    }

    #shipments{
      padding-top: 30px;
      padding-bottom: 30px;
      .list_container{
        padding-top: 40px;
      }
    }

    #shipments_origin_create{
      padding-top: 30px;
      padding-bottom: 30px;
      .input_container{
        padding-top: 60px;
      }
    }

    #shipments_destination_create{
      padding-top: 30px;
      padding-bottom: 30px;
      .input_container{
        padding-top: 60px;
      }
    }


}

#show_shipment_details{
  padding: 20px;
}

/* COMPONENTS */

#shipment_listitem{
  .user_image{
    height: 123px;
    margin-left: 10px;
  }
}



